<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/styles/admin_header.css">
</head>
<body>
<div class="header_banner" th:fragment="header">
</div>
<div class="header_menu" th:fragment="menu">
    <div class="container">
        <h3>Computer Science Student page</h3>
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/student" class="btn btn-info">Student</a>
        <a href="/entry" class="btn btn-secondary">Entry</a>
        <a href="/block" class="btn btn-secondary">Block</a>
        <a href="/course" class="btn btn-warning">Course</a>
        <a href="/faculty" class="btn btn-success">Faculty</a>
        <a href="/schedule" class="btn btn-danger">Schedule</a>
        <a href="/setting" class="btn btn-dark">Setting</a>
<!--        <button type="button" class="btn btn-light">Light</button>-->
<!--        <button type="button" class="btn btn-link">Link</button>-->
    </div>
</div>
</body>
</html>