<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/styles/admin_header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="header" th:fragment="header">
    <div class="header_banner" th:fragment="header_banner">
        <div sec:authorize="isAuthenticated()">
            <p>
                <a id="header_banner_button" href="/logout" class="btn btn-danger">LOG OUT</a>
            </p>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <p>
                <a id="header_banner_button" href="/login" class="btn btn-success">LOG IN</a>
            </p>
        </div>
    </div>
    <div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()"><i class="fa"></i></a>
        <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="/" id="navbtn_home">HOME <i class="fa fa-caret-down"></i><i class="fa fa-caret-up" style="display:none"></i></a>
        <a sec:authorize="hasAuthority('Admin')" class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="/block" id="navbtn_admin">ADMIN <i class="fa fa-caret-down"></i><i class="fa fa-caret-up" style="display:none"></i></a>
        <a sec:authorize="hasAuthority('Faculty')" class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="/faculty" id="navbtn_faculty">FACULTY <i class="fa fa-caret-down"></i><i class="fa fa-caret-up" style="display:none"></i></a>
        <a sec:authorize="hasAuthority('Student')" class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="/student" id="navbtn_student">STUDENT <i class="fa fa-caret-down"></i><i class="fa fa-caret-up" style="display:none"></i></a>
        <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="" id="navbtn_course">COURSES <i class="fa fa-caret-down"></i><i class="fa fa-caret-up" style="display:none"></i></a>
        <a sec:authorize="hasAnyAuthority('Admin','Faculty','Student')" class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="" id="navbtn_schedule">SCHEDULE</a>
        <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="" id="cert_news">NEWS</a>
        <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="" id="cert_contact">CONTACT</a>

        <div class="w3-right">
            <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right" href="javascript:void(0)" onclick="open_search(this)" title="Search MUM"><i class="fa fa-search" aria-hidden="true"></i></a>
            <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide" target="_blank" href="" title="MUM on LinkedIn"><i class="fa fa-linkedin"></i></a>
            <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide" target="_blank" href="" title="MUM on Instagram"><i class="fa fa-tumblr-square"></i></a>
            <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide" target="_blank" href="" title="MUM on Facebook"><i class="fa fa-facebook-square"></i></a>

        </div>
    </div>
<!--    <h3>Computer Science Student page</h3>-->
</div>
<!--<div class="header_navi" th:fragment="navi">-->
<nav class="w3-sidebar w3-collapse w3-white w3-card-2" id="mySidenavHome" th:fragment="navi">
    <div class="w3-bar-block">
        <div class="w3-container">
            <h4 class="w3-margin-top">Home</h4>
            <a class="w3-bar-item w3-button" href="/">Main Page</a>
            <a class="w3-bar-item w3-button" href="">About us</a>
            <a class="w3-bar-item w3-button" href="">Contact</a>

        </div>
    </div>
</nav>

<nav class="w3-sidebar w3-collapse w3-white w3-card-2" id="mySidenavEntry" th:fragment="navi_admin">
    <div class="w3-bar-block">
        <div class="w3-container">
            <h4 class="w3-margin-top">Account</h4>
        </div>
        <a class="w3-bar-item w3-button" href="/admin/account">Account List</a>
        <a class="w3-bar-item w3-button" href="/admin/account/add">Account Add</a>
        <a class="w3-bar-item w3-button" href="">Account Search</a>

        <div class="w3-container">
            <h4 class="w3-margin-top">Entry</h4>
        </div>
        <a class="w3-bar-item w3-button" href="/entry">Entry List</a>
        <a class="w3-bar-item w3-button" href="/entry/add">Entry Add</a>
        <a class="w3-bar-item w3-button" href="/entry/search">Entry Search</a>

        <div class="w3-container">
            <h4 class="w3-margin-top">Block</h4>
        </div>
        <a class="w3-bar-item w3-button" href="/block">Block List</a>
        <a class="w3-bar-item w3-button" href="/block/add">Block Add</a>
        <a class="w3-bar-item w3-button" href="/block/addseries">Block Add Series</a>
        <a class="w3-bar-item w3-button" href="">Block Search</a>

        <div class="w3-container">
            <h4 class="w3-margin-top">Course</h4>
        </div>
        <a class="w3-bar-item w3-button" href="/course">Course List</a>
        <a class="w3-bar-item w3-button" href="/course/description">Course Description</a>
        <a class="w3-bar-item w3-button" href="/course/add">Course Add</a>
        <a class="w3-bar-item w3-button" href="">Course Search</a>

        <div class="w3-container">
            <h4 class="w3-margin-top">Section</h4>
        </div>
        <a class="w3-bar-item w3-button" href="/section">Section List</a>
        <a class="w3-bar-item w3-button" href="/section/add">Section Add</a>
        <a class="w3-bar-item w3-button" href="">Section Search</a>

        <div class="w3-container">
            <h4 class="w3-margin-top">Schedule</h4>
        </div>
        <a class="w3-bar-item w3-button" href="/schedule">Schedule List</a>
        <a class="w3-bar-item w3-button" href="/schedule/builder">Schedule Builder</a>
        <a class="w3-bar-item w3-button" href="">Schedule Search</a>

    </div>
</nav>

</body>
</html>