<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/admin_header.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="common/admin_header :: header"></div>
<div th:replace="common/admin_header :: navi_admin"></div>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/course/update/{id}(id=${course.courseId})}" th:object="${course}" method="post">
                <fieldset>
                    <legend>Update Block</legend>
                    <p>
                        <label for="courseName" class="form-label">Course Name</label>
                        <input type="text" th:field="*{courseName}" class="form-control" id="courseName"
                               placeholder="courseName">
                        <span th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"
                              class="text-danger"></span>
                    </p>
                    <p>
                        <label for="courseCode" class="form-label">Course Code </label>
                        <input type="text" th:field="*{courseCode}" class="form-control" id="courseCode"
                               placeholder="courseCode">
                        <span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}"
                              class="text-danger"></span>
                    </p>
                    <p>
                        <label for="preCourseId" class="form-label">Prerequisite Course Id</label>
                        <input type="text" th:field="*{preCourseId}" class="form-control" id="preCourseId"
                               placeholder="preCourseId">
                        <span th:if="${#fields.hasErrors('preCourseId')}" th:errors="*{preCourseId}"
                              class="text-danger"></span>
                    </p>
                    <p>
                        <input type="submit" class="btn btn-success" value="Update Course">
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>