<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/admin_header.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="common/admin_header :: header"></div>
<div th:replace="common/admin_header :: navi_admin"></div>
<h1>Students</h1>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Course Short Name</th>
                    <th>Course Capacity</th>
                    <th>Prerequisite</th>
                    <th>Faculty</th>
                    <th>Action</th>

                </tr>
                <tr th:each="course : ${courseList}">
                    <td th:text="${course.courseCode}"></td>
                    <td th:text="${course.courseName}"></td>
                    <td th:text="${course.courseAbbrName}"></td>
                    <td th:text="${course.courseCapacity}"></td>
                    <td th:text="${course.preCourseId}"></td>
                    <td></td>
                    <td>
                        <a
                                th:href="@{/course/edit/{id}(id=${course.courseId})}"
                                class="btn btn-success"
                        >Update</a
                        >
                        <a
                                th:href="@{/course/delete/{id}(id=${course.courseId})}"
                                class="btn btn-danger"
                        >Delete</a
                        >
                    </td>
                </tr>
            </table>
            <a href="/course/add" class="btn btn-success">Add Course</a>
        </div>
    </div>
</div>
</body>
</html>
