<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <link rel="stylesheet" th:href="@{/styles/admin_header.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="common/admin_header :: header"></div>
<div th:replace="common/admin_header :: navi_admin"></div>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/course/addnewcourse}" th:object="${newCourse}" method="post">
                <fieldset>
                    <legend>Add New Course</legend>
                    <p>
                        <label for="teacherNumber" class="form-label">Course Code : </label>
                        <input id="teacherNumber" class="form-control" type="text" th:field="*{courseCode}"/>
                    </p>
                    <p>
                        <label for="courseName" class="form-label">Course Name : </label>
                        <input id="courseName" class="form-control" type="text" th:field="*{courseName}"/>
                    </p>

                    <p>
                        <label for="courseAbbrName" class="form-label">Course Short Name : </label>
                        <input id="courseAbbrName" class="form-control" type="text" th:field="*{courseAbbrName}"/>
                    </p>

                    <p>
                        <label for="courseDescName" class="form-label">Course Description : </label>
                        <textarea class="form-control" rows="5" id="courseDescName" th:field="*{courseDescription}"></textarea>
                    </p>

                    <p>
                        <label for="courseCapacity" class="form-label">Course Capacity : </label>
                        <input id="courseCapacity" class="form-control" type="text" th:field="*{courseCapacity}"/>
                    </p>

                    <p>
                        <label for="coursePrerequisites" class="form-label">Prerequisite Course Id : </label>
                        <select id="coursePrerequisites" class="form-select" aria-label="Default select example"
                                th:field="*{preCourseId}">
                            <option th:each="courseCode : ${courseCodeList}" th:value="${courseCode}"
                                    th:text="${courseCode}"></option>
                        </select>
                    </p>
                    <p>
                        <input id="btnAdd" class="btn btn-success" type="submit" value="Add"/>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>