<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <link rel="stylesheet" th:href="@{/styles/admin_header.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="common/admin_header :: header"></div>
<div th:replace="common/admin_header :: navi_admin"></div>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/course/addnewcourse}" th:object="${newCourse}" method="post">
                <fieldset>
                    <legend>Add New Course</legend>
                    <p>
                        <label for="courseName">Course Name : </label>
                        <input id="courseName" type="text" th:field="*{courseName}"/>
                    </p>

                    <p>
                        <label for="teacherNumber">Course Code : </label>
                        <input id="teacherNumber" type="text" th:field="*{courseCode}"/>
                    </p>

                    <p>
                        <label for="startDate">Prerequisite Course Id : </label>
                        <input id="startDate" type="text" th:field="*{preCourseId}"/>
                    </p>
                    <p>
                        <input id="btnAdd" class="btn btn-success" type="submit" value="Add"/>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>