<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="global">
        <form action="#" th:action="@{/addnewblock}" th:object="${newBlock}" method="post">
            <fieldset>
                <legend>Add New Block</legend>
                <p>
                    <label for="entryList">Select Entry: </label>
                    <select id="entryList"
                        th:field="*{entryName}">
                        <option th:each="entryName : ${entryNameList}" th:value="${entryName}"
                                th:text="${entryName}"></option>
                    </select>
                </p>
                <p>
                    <label for="blockName">Block Name : </label>
                    <input id="blockName" type="text" th:field="*{blockName}" />
                </p>

                <p>
                    <label for="FPPNum">FPP Number : </label>
                    <input id="FPPNum" type="text" th:field="*{FPPNum}" />
                </p>

                <p>
                    <label for="MPPNum">MPP Number : </label>
                    <input id="MPPNum" type="text" th:field="*{MPPNum}" />
                </p>

                <p>
                    <label for="startDate">Start Date : </label>
                    <input id="startDate" type="text" th:field="*{startDate}" />
                </p>
                <p>
                    <label for="endDate">Start Date : </label>
                    <input id="endDate" type="text" th:field="*{endDate}" />
                </p>
                <p>
                    <input id="btnAdd" type="submit" value="Add" />
                </p>
            </fieldset>
        </form>
    </div>
</body>
</html>