<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Block</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/block/addnewblock}" th:object="${newBlock}" method="post">
                <fieldset>
                    <legend>Add New Block</legend>
                    <p>
                        <label for="entryList" class="form-label">Select Entry: </label>
                        <select id="entryList" class="form-select" aria-label="Default select example"
                                th:field="*{entryName}">
                            <option th:each="entryName : ${entryNameList}" th:value="${entryName}"
                                    th:text="${entryName}"></option>
                        </select>
                    </p>
                    <p>
                        <label for="blockName" class="form-label">Block Name : </label>
                        <input id="blockName" class="form-control" type="text" th:field="*{blockName}"/>
                    </p>

                    <p>
                        <label for="FPPNum" class="form-label">FPP Number : </label>
                        <input id="FPPNum" class="form-control" type="text" th:field="*{FPPNum}"/>
                    </p>

                    <p>
                        <label for="MPPNum" class="form-label">MPP Number : </label>
                        <input id="MPPNum" class="form-control" type="text" th:field="*{MPPNum}"/>
                    </p>

                    <p>
                        <label for="startDate" class="form-label">Start Date : </label>
                        <input id="startDate" class="form-control" type="text" th:field="*{startDate}"/>
                    </p>
                    <p>
                        <label for="endDate" class="form-label">End Date : </label>
                        <input id="endDate" class="form-control" type="text" th:field="*{endDate}"/>
                    </p>
                    <p>
                        <input id="btnAdd" class="btn btn-success" type="submit" value="Add New Block"/>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>