<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Block</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/addnewcourse}" th:object="${newCourse}" method="post">
                <fieldset>
                    <legend>Add New Course</legend>
                    <p>
                        <label for="blockList">Select Block: </label>
                        <select id="blockList"
                                th:field="*{blockName}">
                            <option th:each="blockName : ${blockNameList}" th:value="${blockName}"
                                    th:text="${blockName}"></option>
                        </select>
                    </p>
                    <p>
                        <label for="courseName">Course Name : </label>
                        <input id="courseName" type="text" th:field="*{courseName}"/>
                    </p>

                    <p>
                        <label for="teacherNumber">Teacher Number : </label>
                        <input id="teacherNumber" type="text" th:field="*{teacherID}"/>
                    </p>

                    <p>
                        <label for="startDate">Start Date : </label>
                        <input id="startDate" type="text" th:field="*{startDate}"/>
                    </p>
                    <p>
                        <label for="endDate">End Date : </label>
                        <input id="endDate" type="text" th:field="*{endDate}"/>
                    </p>
                    <p>
                        <input id="btnAdd" class="btn btn-success" type="submit" value="Add"/>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>