<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Entry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/addnewentry}" th:object="${newEntry}" method="post">
                <fieldset>
                    <legend>Add New Entry</legend>
                    <p>
                        <label for="entryName">Entry Name :</label>
                        <input id="entryName" class="form-control" type="text" th:field="*{entryName}"/>
                    </p>
                    <p>
                        <label for="FPPNum">FPP Number : </label>
                        <input id="FPPNum" class="form-control" type="text" th:field="*{FPPNum}"/>
                    </p>

                    <p>
                        <label for="MPPNum">MPP Number : </label>
                        <input id="MPPNum" class="form-control" type="text" th:field="*{MPPNum}"/>
                    </p>

                    <p>
                        <label for="startDate">Start Date : </label>
                        <input id="startDate" class="form-control" type="text" th:field="*{startDate}"/>
                    </p>
                    <p>
                        <label for="endDate">End Date : </label>
                        <input id="endDate" class="form-control" type="text" th:field="*{endDate}"/>
                    </p>
                    <p>
                        <input id="btnAdd" class="btn btn-success" type="submit" value="Add New Entry"/>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>