<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Success</title>
</head>
<body>
    <div>
        <h3>
            <span th:text="${student.firstName}"></span>
            saved with id: <span th:text="${student.id}"></span>
            successfully!
        </h3>
    </div>
    <div>
        <form method="get" action="/">
            <button type="submit">Add Another Student</button>
        </form>
    </div>
</body>
</html>