<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/styles/admin_header.css">
</head>
<body>
<div class="header_banner" th:fragment="header">
</div>
<div class="header_menu" th:fragment="menu">
    <div class="container">
        <h3>Computer Science Student page</h3>
        <button type="button" class="btn btn-primary">Home</button>
        <button type="button" class="btn btn-secondary">Admin</button>
        <button type="button" class="btn btn-success">Faculty</button>
        <button type="button" class="btn btn-info">Student</button>
        <button type="button" class="btn btn-warning">Course</button>
        <button type="button" class="btn btn-danger">Schedule</button>
        <button type="button" class="btn btn-dark">Setting</button>
<!--        <button type="button" class="btn btn-light">Light</button>-->
<!--        <button type="button" class="btn btn-link">Link</button>-->
    </div>
</div>
</body>
</html>