<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Faculty List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/admin_header.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="admin_header :: header"></div>
<div th:replace="admin_header :: menu"></div>
<h1>Faculties</h1>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Num of Student</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="faculty : ${facultyList}">
                    <td th:text="${faculty.facultyName}"></td>
                    <td th:text="${faculty.email}"></td>
                    <td th:text="${faculty.getNumOfStudent()}"></td>
                </td>
                    <td>
                        <a
                                th:href="@{/faculty/edit/{id}(id=${faculty.facultyId})}"
                                class="btn btn-success"
                        >Update</a
                        >
                        <a
                                th:href="@{/faculty/delete/{id}(id=${faculty.facultyId})}"
                                class="btn btn-danger"
                        >Delete</a
                        >
                    </td>
                </tr>
            </table>
            <a href="/faculty/add" class="btn btn-success">Add Faculty</a>
        </div>
    </div>
</div>
</body>
</html>
