<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Facutly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/admin_header.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="admin_header :: header"></div>
<div th:replace="admin_header :: menu"></div>
<div class="container my-5">
    <h3> Update Faculty</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/faculty/update/{id}(id=${faculty.facultyId})}" th:object="${faculty}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="facultyName" class="col-form-label">Name</label>
                            <input type="text" th:field="*{facultyName}" class="form-control" id="facultyName" placeholder="facultyName">
                            <span th:if="${#fields.hasErrors('facultyName')}" th:errors="*{facultyName}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-success" value="Update Student">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>