<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MUM Home Page</title>
    <link rel="stylesheet" th:href="@{/styles/admin_header.css}">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="common/admin_header :: header"></div>
<!--<div th:replace="common/admin_header :: navi"></div>-->

<div class="div_mum">
    <div class="div_mum_image">
        <img src="/images/eIMG_1235.1-950x400.jpg" alt="MUM image">
    </div>
</div>
<div class="div_mum_info">
    <p>
        The Computer Science department offers a BS in Computer Science that prepares students for successful careers in computer technology and information systems, and offers the option of gaining a master’s degree in only one additional year.

        Our unique MS CS degree (emphasizing modern software development: distributed, parallel, and web computing) attracts highly qualified students from around the world, and includes practical training at top IT companies.

        We’ve started offering a Data Science track as an option in our Computer Professionals Master’s Program from October 2017 entry.
    </p>
</div>
</body>
</html>