<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Studentlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />
</head>
<body>
<h1>Students</h1>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="student : ${studentlist}">
                    <td
                            th:text="${student.studentFirstName} + ' ' + ${student.studentLastName}"
                    ></td>
                    <td th:text="${student.email}"></td>
                    <td>
                        <a
                                th:href="@{/edit/{id}(id=${student.studentId})}"
                                class="btn btn-success"
                        >Update</a
                        >
                        <a
                                th:href="@{/delete/{id}(id=${student.studentId})}"
                                class="btn btn-danger"
                        >Delete</a
                        >
                    </td>
                </tr>
            </table>
            <a href="/add" class="btn btn-success">Add Student</a>
        </div>
    </div>
</div>
</body>
</html>
