<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Student Registration Form</title>
    <link rel="stylesheet" th:href="@{/styles/admin_header.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="admin_header :: header"></div>
<div th:replace="admin_header :: menu"></div>
<div class="container my-5">
    <h3> Add Student</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/student/addnewstudent}" th:object="${newStudent}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="studentFirstName" class="col-form-label">First Name:</label>
                            <input type="text" th:field="*{studentFirstName}" class="form-control" id="studentFirstName" placeholder="studentFirstName">
                            <span th:if="${#fields.hasErrors('studentFirstName')}" th:errors="*{studentFirstName}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="studentLastName" class="col-form-label">Last Name:</label>
                            <input type="text" th:field="*{studentLastName}" class="form-control" id="studentLastName" placeholder="studentLastName">
                            <span th:if="${#fields.hasErrors('studentLastName')}" th:errors="*{studentLastName}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                        </div>

                        <div class="col-md-8">
                            <input type="submit" class="btn btn-success" value="Add Student">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>