div.div_mum {
    margin-top: 40px;
    width: 70%;
    margin-left: 300px;
    margin-right: auto;
    text-align: justify;
}

div.div_mum_image {
    width: 100%;
    margin: auto;
    text-align: center;
}

p {
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 15px;
}